/* Your app styles here */
/* Your app styles here */

ion-item {
  font-size: 1rem;
}

ion-text {
  display: block;
  font-size: 0.8rem;
}

ion-toast {
  color: var(--ion-color-secondary);
}

.dark {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-secondary);
  --ion-border-color: var(--ion-color-secondary);
}

.sections {
  margin: 1rem;
}
  
.center {
  text-align: center;
}

.primary {
  --color: var(--ion-color-primary);
  --button-color: var(--ion-color-primary);
}

.secondary {
  --color: var(--ion-color-secondary);
  --button-color: var(--ion-color-secondary);
}

.success {
  --color: var(--ion-color-success);
  --button-color: var(--ion-color-success);
}

.warning {
  --color: var(--ion-color-warning);
  --button-color: var(--ion-color-warning);
}

.danger {
  --color: var(--ion-color-danger);
  --button-color: var(--ion-color-danger);
}

.star {
  color: yellow;
  margin: 3px;
}

.left {
  text-align: left;
}

.error {
  font-size: 1.2rem;
  color: gold;
}

.success {
  font-size: 1.2rem;
  color: cyan;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.block-title {
  color: blue;
}

.price {
  text-align: end;
  color: red;
  max-width: 15%;
  font-size: 1.1rem;
}

.card-title {
  font-size: 1.1rem;
  color: blue;
}

.selected {
  background-color: lightskyblue;
  --background-activated: lightskyblue;
}

