/* Your app styles here */
/* Your app styles here */
.sections {
    margin: 1rem;
  }
  
.center {
  text-align: center;
}

.total-price {
  margin: 20px;
}

.order-button {
  margin: 20px;
  width: 10em;
}

.search-icon {
  margin-top: 0.8rem;
}

.star {
  color: yellow;
  margin: 3px;
}

.left {
  text-align: left;
}

.error {
  font-size: 1.2rem;
  color: gold;
}

.success {
  font-size: 1.2rem;
  color:cyan;
}

.total {
  color: purple;
}

.fees {
  color: red;
}

.discount {
  color: green;
}

.net {
  color: blue;
}

.logo {
  width: 120px;
  margin-bottom: -10px;
}

.banner {
  position: relative;
  bottom: 1.5rem;
  color: blue;
  font-size: 1.1rem;
}

.price {
  font-size: 1.2rem;
  color: blue;
  width: 5rem;
}

.card-header p {
  margin-bottom: 0;
}

.card-header {
  min-height: 4.5rem;
}

.note {
  text-align: center;
  color: red;
}

.avatar {
  width: 100px;
}

.img-card{
  max-width: 100%;
  height: 16rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-list{
  width: 6rem;
  height: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-fab{
  top: 0px !important;
}

.offer-quantity-card {
  background-color: rgba(0,0,0,.6);
  padding: 3px 5px 4px;
  top: 0;
  right: 0;
  position: absolute;
  color: #fff;
  font-size: 1rem;
}

.relative {
  position: relative;
}

.bonus-img-card{
  max-width: 100%;
  height: 6rem;
  width: 10rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bonus-quantity-card {
    background-color: rgba(0,0,0,.6);
    padding: 3px 5px 4px;
    bottom: 0;
    left: 0;
    position: absolute;
    color: #fff;
    font-size: 1rem;
}

.bonus-img-list{
  max-width: 100%;
  height: 2rem;
  width: 3.3rem;
  display: block;
  position: absolute;
  bottom: 0.3rem;
  left: 0;
}

.bonus-quantity-list {
  background-color: rgba(0,0,0,.6);
  bottom: 0.3rem;
  left: 0;
  position: absolute;
  color: #fff;
  font-size: 0.7rem;
}

.offer-quantity-list {
  background-color: rgba(0,0,0,.6);
  top: 0;
  right: 0;
  position: absolute;
  color: #fff;
  font-size: 0.7rem;
}

.card-title {
  text-align: center;
  font-size: 1rem;
  color: blue;
}

.navbar-inner {
  font-size: 1rem;
  color: blue;
}

.item-title-row {
  font-size: 1rem;
}

.item-subtitle {
  font-size: 0.8rem !important;
  color:red !important;
}

.item-text {
  font-size: 0.8rem !important;
  color: blue !important;
}

.item-footer {
  font-size: 0.8rem !important;
  color: green !important;
}

.list-subtext1 {
  font-size: 0.8rem;
  color:purple;
}

.list-subtext2 {
  font-size: 0.8rem;
  color:deeppink;
}

.toolbar-inner .link {
  font-size: 0.8rem;
}

.alarm-list {
  font-size: 0.8rem;
}

.actions-button-text {
  font-size: 1rem;
}

.actions-button {
  height: 3rem;
}

.rating-stars {
  margin-bottom: -1.5rem;
}

.hints {
  right: 9rem;
  margin-top: -0.5rem;
}

.advert {
  font-size: 1.2rem;  
  text-align: center;
  padding-top: 0.5rem;
  margin-bottom: -1.5rem;
}
