/* Your app styles here */
/* Your app styles here */
.sections {
    margin: 1rem;
  }
  
  .center {
    text-align: center;
  }
  
  .total-price {
    margin: 20px;
  }
  
  .order-button {
    margin: 20px;
    width: 10em;
  }
  
  .search-icon {
    margin-top: 0.8rem;
  }
  
  .star {
    color: yellow;
    margin: 3px;
  }
  
  .left {
    text-align: left;
  }
  
  .error {
    text-align: center;
    color: red;
  }
  
  .message {
    text-align: center;
    color: green;
  }

  .total {
    color: green;
  }
  
  .fees {
    color: rgb(0, 89, 255);
  }
  
  .net {
    color: red;
  }
  
  .logo {
    width: 100px;
  }
  
  .current-store {
    background-color: lime;
  }
  
  .banner {
    position: relative;
    bottom: 1.5rem;
    color: rgb(0, 102, 255);
    font-size: 0.9rem;
    padding-right: 1rem;
  }

  .less-price {
    font-size: 0.8rem;
  }
  
  .price {
    font-size: 1.2rem;
    color: blue;
    margin-right: 0.2rem;
  }

  .rating {
    margin-top: 2rem;
  }

  .card-title p {
    margin-bottom: 0;
  }

  .note {
    text-align: center;
    color: red;
  }