/* Your app styles here */
/* Your app styles here */

.sections {
    margin: 1rem;
}
  
.center {
  text-align: center;
}

.total-price {
  margin: 20px;
}

.order-button {
  margin: 20px;
  width: 10em;
}

.search-icon {
  margin-top: 0.8rem;
}

.star {
  color: yellow;
  margin: 3px;
}

.left {
  text-align: left;
}

.error {
  font-size: 1.2rem;
  color: gold;
}

.success {
  font-size: 1.2rem;
  color: cyan;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.logo {
  width: 120px;
  margin-bottom: -10px;
}

.icons {
  color: white;
}

.block-title {
  color: blue;
}

.price {
  font-size: 1.2rem;
  color: blue;
  margin-right: 0.2rem;
}

.avatar {
  width: 100px;
}

.section-label {
  font-size: 1.2rem;
}

.img-card {
  max-width: 100%;
  height: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-list {
  width: 4.5rem;
  height: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-fab {
  top: 0px !important;
}

.total {
  color: purple;
}

.fees {
  color: red;
}

.discount {
  color: green;
}

.net {
  color: blue;
}

.card-title {
  text-align: center;
  font-size: 1rem;
  color: blue;
}

.navbar-inner {
  font-size: 1rem;
  color: blue;
}

.list-row1 {
  font-size: 0.8rem;
  color:red;
}

.list-row2 {
  font-size: 0.8rem;
  color: blue;
}

.list-row3 {
  font-size: 0.8rem;
  color: green;
}

.list-row4 {
  font-size: 0.8rem;
  color:purple;
}

.list-row5 {
  font-size: 0.8rem;
  color:deeppink;
}

.list-row6 {
  font-size: 0.8rem;
  color:teal;
}

.list-row7 {
  font-size: 0.8rem;
  color:orange;
}

.actions-button-text {
  font-size: 1rem;
  text-align: center;
}

.actions-button {
  height: 3rem;
}

.note {
  font-size: 0.9rem;
  text-align: center;
  color: red;
}

.selected {
  background-color: lightskyblue;
}

.toolbar-inner .link {
  font-size: 0.8rem;
}

.card-footer {
  padding-top: 0;
  height: 2rem;
}