/* Your app styles here */
/* Your app styles here */

root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

ion-item {
  font-size: 1rem;
}

ion-text {
  display: block;
  font-size: 0.8rem;
}

ion-toast {
  color: var(--ion-color-secondary);
}
  
.left {
  text-align: left;
}

.block-title {
  color: blue;
}

.price {
  text-align: end;
  color: red;
  max-width: 15%;
  font-size: 1rem;
}

.price-off {
  text-decoration: line-through;
  text-align: end;
  color: red;
  max-width: 15%;
  font-size: 1rem;
}

.card-right {
  color: green;
  font-size: 1rem;
}

.card-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: dodgerblue;
}

.background1 {
  background-color: darkblue;
  border-radius: 12px;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.background2 {
  background-color: deeppink;
  border-radius: 12px;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.background3 {
  background-color: darkgreen;
  border-radius: 12px;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.background4 {
  background-color: red;
  border-radius: 12px;
  color: white;
  text-align: center;
  margin-right: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.list {
  border-style: outset;
  border-width: 2px;
  margin: 10px;
  border-radius: 10px;
}

.help {
  margin: 20px;
  font-size: 1.5rem;
  color: var(--ion-color-primary);
  text-align: center;
}

.darkblue {
  --background: darkblue;
  --button-color: darkblue;
}

.deeppink {
  --background: deeppink;
  --button-color: deeppink;
}

.maroon {
  --background: maroon;
  --button-color: maroon;
}

.red {
  --background: red;
  --button-color: red;
}

.purple {
  --background: purple;
  --button-color: purple;
}


.darkgreen {
  --background: darkgreen;
  --button-color: darkgreen;
}

.darkslategray {
  --background: darkslategray;
  --button-color: darkslategray;
}

.crimson {
  --background: crimson;
  --button-color: crimson;
}

.chocolate {
  --background: chocolate;
  --button-color: chocolate;
}

.darkolivegreen {
  --background: darkolivegreen;
  --button-color: darkolivegreen;
}

.good {
  --color: green;
  --button-color: green;
}

.bad {
  --color: red;
  --button-color: red;
}

.medium {
  --color: dodgerblue;
  --button-color: dodgerblue;
}

.dark {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-secondary);
  --ion-border-color: var(--ion-color-secondary);
}

.advert {
  --background: lime;
  color: darkblue;
  font-size: 1.2rem;
  margin: 0.9rem;
  --border-width: 2px;
  --border-color: darkblue;
}